.cell {
  word-wrap: break-word;
  overflow-x: scroll;
  padding: 5px 0px;
}
.headerCell {
  &:hover {
    cursor: default;
  }
  &::first-letter {
    text-transform: capitalize;
  }
}
.container {
  overflow-x: scroll;
  width: 100%;
  margin-top: 50px;
}
.table {
  box-sizing: content-box;
  display: table;

  margin: 0px auto;
  border-collapse: collapse;
}
.row {
  border-bottom: 1px solid #dddddd5c;
}
.clickableRow:hover {
  color: #646cff;
  cursor: pointer;
  background-color: #333333;
}
.collapseButton {
  margin-top: 10px;
  border: 1px solid #dddddd5c;
}
